<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>MyJspServlet</display-name>
    <servlet-name>MyJspServlet</servlet-name>
    <servlet-class>MyServlet.MyJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJspServlet</servlet-name>
    <url-pattern>/MyJspServlet</url-pattern>
  </servlet-mapping>
  <display-name>JFSWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyMethodServlet</display-name>
    <servlet-name>MyMethodServlet</servlet-name>
    <servlet-class>MyServlet.MyMethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyMethodServlet</servlet-name>
    <url-pattern>/MyMethodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyGetServlet</display-name>
    <servlet-name>MyGetServlet</servlet-name>
    <servlet-class>MyServlet.MyGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyGetServlet</servlet-name>
    <url-pattern>/MyGetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyValuesServlet</display-name>
    <servlet-name>MyValuesServlet</servlet-name>
    <servlet-class>MyServlet.MyValuesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyValuesServlet</servlet-name>
    <url-pattern>/MyValuesServlet</url-pattern>
  </servlet-mapping>
</web-app>